<div class="catalogContainer">
  <ul class="catalogOuter">
    {% for catalog in site.data.catalogs[page.catalog] %}
    <li class="catalogInner">
      <a class="catalogUrl" href="{{catalog.url}}">{{catalog.title}}</a>
    </li>
    {% endfor %}
    <li class="catalogInner">
      <a class="catalogUrl" href="#">回到顶部</a>
    </li>
  </ul>
</div>
<style media="screen">
  .catalogContainer{
    position:fixed;
    left:10%;
    width:220px;
    background:#eee;
    border:1px solid #ccc;
    border-radius:4%;
  }
  .catalogOuter{
    margin:15px;
  }
  .catalogInner{
    list-style:none;
    width:100%;
  }
  .catalogUrl{
    text-decoration:none;
    font-size:14px;
  }
  .catalogUrl:hover{
    text-decoration:none;
  }
  .catalogUrl:visited{
    text-decoration:none;
  }

  @media screen and (max-width: 1000px){
    .catalogContainer{
      right:2%;
      width:auto;
      opacity: 0;
    }
    .catalogInner{
      /* max-width:100px; */
      overflow:hidden;
      white-space:nowrap;
      text-overflow:ellipsis
    }
  }

  @media screen and (min-width: 1000px) and (max-width: 1100px){
    .catalogContainer{
      right:2%;
    }
  }
  @media screen and (min-width: 1201px) and (max-width: 1500px){
    .catalogContainer{
      right:14%;
    }
  }
  @media screen and (min-width: 1900px){
    .catalogContainer{
      left:18%;
    }
  }
  @media screen and (min-width: 1800px) and (max-width: 1899px){
    .catalogContainer{
      left:15%;
    }
  }
</style>
