<div class="catalogContainer">
  <ul class="catalogOuter">
    {% for catalog in site.data.catalogs[page.catalog] %}
    <li class="catalogInner">
      <a class="catalogUrl" href="{{catalog.url}}">{{catalog.title}}</a>
    </li>
    {% endfor %}
    <li class="catalogInner">
      <a class="catalogUrl" href="#">回到顶部</a>
    </li>
  </ul>
</div>
<style media="screen">
  .catalogContainer{
    position:fixed;
    left:18%;
    width:200px;
    background:#eee;
    border:1px solid #ccc;
    border-radius:4%;
  }
  .catalogOuter{
    margin:15px;
  }
  .catalogInner{
    list-style:none;
  }
  .catalogUrl{
    text-decoration:none;
    font-size:14px;
  }
  .catalogUrl:hover{
    text-decoration:none;
  }
</style>
