<div id="cornNeeds" style="width:600px;height:400px;"></div>
{% for javascript in site.highcharts_scripts %}
  <script src="{{ javascript }}"></script>
{% endfor %}
<script type="text/javascript">
  var options = {
      chart: {
          type: 'line'                          //指定图表的类型，默认是折线图（line）
      },
      title: {
          text: '玉米价格与产量'                 // 标题
      },
      xAxis: {},
      yAxis: {
          title: {
              text: '价格'                // y 轴标题
          }
      },
      series: [{                              // 数据列
        name: '产量/价格',                        // 数据列名
        // data: [1.0, 1.2, 1.4, 1.6, 1.8, 2.0]                     // 数据
        data: [{x:1,y:1.0},{x:2,y:1.2}, {x:3,y:1.4}, {x:4,y:1.6},{x:5,y:1.8}, {x:6,y:2.0}]                     // 数据
      }]
  };
  // 图表初始化函数
  var chart = Highcharts.chart('cornNeeds', options);
</script>
