<div id="movieChart3" class="highcharts_container"></div>
<script type="text/javascript">
  var options = {
      chart: {},
      title: {
          text: '需求曲线'
      },
      xAxis: {
        min:0,max:1000,title: {text: '需求量'}
      },
      yAxis: {
        title: {text: '价格'}
      },
      series: [{
        name: '价格需求曲线',type:'line',
        data: [[300,7],[400,6],[500,5],[600,4],[700,3],[800,2],[900,1]]
      },{
        name: '边际成本曲线',type:'line',
        data: [[300,2],[400,2],[500,2],[600,2],[700,2],[800,2],[900,2]]
      },{
        name: '单位边际成本',type:'line',
        data: [[300,4],[525,-0.5],[475,0.5]]
      }]
  };
  // 图表初始化函数
  var chart = Highcharts.chart('movieChart3', options);
</script>
