<div id="needsChart" class="highcharts_container"></div>
{% for javascript in site.highcharts_scripts %}
  <script src="{{ javascript }}"></script>
{% endfor %}
<script type="text/javascript">
  var options = {
      chart: {},
      title: {
          text: '需求曲线'
      },
      xAxis: {
        min:0,title: {text: '需求量'}
      },
      yAxis: {
          min:0,title: {text: '价格'}
      },
      series: [{
        name: '需求量/价格',type:'spline',
        data: [[0.1,11.3],[3.2,2.6],[10,0.2]]
      }]
  };
  // 图表初始化函数
  var chart = Highcharts.chart('needsChart', options);
</script>
