<div>
  <canvas id="needsBefore" width="400" height="400"></canvas>
  <canvas id="needsAfter" width="600" height="400"></canvas>
</div>
{% for javascript in site.echart_scripts %}
  <script src="{{ javascript }}"></script>
{% endfor %}
<script type="text/javascript">
  var movieChart = echarts.init(document.getElementById('needsBefore'));
  var option = {
    title: {
        text: '变动之前'
    },
    tooltip: {
      trigger: 'axis',
      axisPointer:{
        label:{show:true}
      }
    },
    legend: {},
    xAxis: {
        type:'value',name:'需求量'
    },
    yAxis: {
      type:'value',name:'价格'
    },
    series: [{
        name: '需求曲线',
        type: 'line',
        data: [[3,15],[15,4]]
    }]
  };
  movieChart.setOption(option);
</script>
