<div id="changeBefore" class="highcharts_container"></div>
<script type="text/javascript">
  var options = {
      chart: {},
      title: {
          text: '需求曲线'
      },
      xAxis: {
        min:0,title: {text: '需求量'}
      },
      yAxis: {
          min:0,title: {text: '价格'}
      },
      series: [{
        name: '需求量/价格',type:'line',
        data: [[3,25],[15,4]]
      },{
        name: '需求量/价格',type:'line',
        data: [[3,15],[10.4,2]]
      }]
  };
  // 图表初始化函数
  var chart = Highcharts.chart('changeBefore', options);
</script>
