.trigger{
  position: relative;
}
.page-link-container{
  display: inline-block;
}
.page-link{
  line-height: 2.5!important;
  display: inline-block;
}
.page-link:hover{
  text-decoration: none;
}
.book-link{
  list-style: none;
  display: none;
  border-radius: 2%;
  width: 100px;
  background-color: white;
  margin: 0px;
  text-align: center;
  position: absolute;
}

.book-link li{
  border-bottom: 1px solid #dcdcdc;
}

.book-link li:hover{
  background-color: #dcdcdc;
}

.book-link a{
  color:#111;
  font-size: 14px;
}

.book-link a:hover{
  text-decoration: none;
}

.book-link:hover{
  display: block;
}

.page-link:hover + .book-link{
  display: block;
}

.economic-link{
  left:20px;
  top:46px;
}

.psychology-link{
  left:88px;
  top:46px;
}

.technology-link{
  left:-34px;
  top:46px;
}

.highcharts_container{
  margin: 14px auto 0;
  width:600px;
  height:400px;
}
